@import "tailwindcss";

* {
    font-family: "Google Sans", sans-serif;
    font-size: 12px;
}

.tiptap.ProseMirror{
    outline: none!important;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}